<!-- header file added -->
<%- include('header')%>

<div class="d-flex align-items-center justify-content-center login-container">
    <form action="/admin/login" method="post" class="login-form" >
            <h2>Admin login</h2>
            <input type="email" 
            class="admin-login-email" 
            name="adminMail" 
            placeholder="admin username" 
            required>

            <input type="password"
            class="admin-login-password"
            name="adminPassword"
            placeholder="admin password"
            required>

            <% if(status){%>
            <p id="login-error-message">
                <%= loginErrorMess%>
            </p>
            <%}%>
            <button type="submit" class="btn btn-primary">Login</button>
            
        </form>
</div>


<!-- footer.ejs is linked -->

<%- include('footer')%>