<!-- header file added -->
<%- include('header')%>

    <div class="d-flex align-items-center justify-content-center login-container">
        <form action="/user/login" method="post" class="login-form">
            <h2>login</h2>
            <input type="email" class="user-login-email" name="userMail" placeholder="username" required>

            <input type="password" class="user-login-password" name="userPassword" placeholder="password" required>

            <% if(status){ %>
                <label style="color: red;">
                    <%= loginErrorMess %>
                </label>
            <% } %>

            <button type="submit" class="btn btn-primary">Login</button>

            <h6>If you are new ? <a href="/user/register">Sign up</a></h6>

        </form>
    </div>


    <!-- footer.ejs is linked -->

    <%- include('footer')%>