<%-include('header')%>
<%-include('userNav')%>
<div class="user-home-container">
    <h1>WELCOME</h1>
    <h2>ASHWIN CLARENCE</h2>
    <a href="/user/logout" class="btn btn-danger">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
</div>
<%-include('footer')%>