<!-- header file added -->
<%- include('header')%>

<div class="d-flex align-items-center justify-content-center login-container">
    <form action="/user/register" method="post" class="login-form" id="registration-form">

            <h2>Register</h2>
            <input type="text" 
            class="user-register-name" 
            name="userName" 
            placeholder="Full name" 
            required>

            <input type="email" 
            class="user-register-email" 
            name="userMail" 
            placeholder="Email address" 
            required>

            <input type="password"
            class="user-register-password"
            name="userPassword"
            id="user-register-password"
            placeholder="password"
            required>

            <input type="password"
            class="user-register-password"
            name="userPasswordConfirm"
            id="user-register-password-confirm"
            placeholder="confirm password"
            required>

            <!-- if user already exist an error message will come from backend. Then only the label inside the if will show with the error message -->
            <% if(status) {%>
                <label style="color: red;"> <%=mess%> </label>
            <% }%>

            <button type="submit" class="btn btn-primary" id="user-register-btn">Register</button>

            <h6>Already have an account? <a href="/">Login here</a></h6>
        </form>
</div>


<!-- footer.ejs is linked -->

<%- include('footer')%>