*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: url('../assets/loginBG.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar header */

.logo-container{
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 30px;
}
.logo-container h3{
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;

}

/* login form */
.login-container{
    height: 100vh;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    gap: 2rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #000000;
    -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.login-form input{
    padding: 3px;
    width: 80%;
    height: 2rem;
    border: none;
    outline: none;
    background:transparent;
    border-bottom: 1px solid #000000;
}
.login-form button{
    width: 50%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
}
#login-error-message{
    color: #ff0000;
    width: 80%;
}


/* footer */
.footer-container{
    height: 20vh;
    /* background-color: red; */
}
.footer-container i{
    scale: 1.5;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.footer-container i:hover{
scale: 1.1;
}



/* user home page */
.user-home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
}
.user-home-container h1{
    font-weight: 700;
    letter-spacing: 5px;
}

/* admin home */
.admin-home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
    padding: 10rem 0;
}
.admin-search-box{
    background-color: #ffffff;
    border: 1px solid #000000;
  padding: 10px;
  border-radius: 10px;
}
.admin-search-box input{
   border: none;
   background: transparent;
   outline: none;
   width: 20rem;
}

/* admin home user list */
.admin-user-view{
    background-color: #ffffff7b;
    width: 70vw;
    display: flex;
    justify-content: center;

}
.admin-user-view table{
  width: 100%;
  cursor: pointer;
}
.admin-user-view tr{
    border-bottom: 1px solid #6c6c6c;
}
.admin-user-view th, td{
    padding: 10px;
    text-align: center;
}

